

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
          ol.variables li ,    ol.filters li span
        {
            font-size: 32px;
            color: red;
        }

    </style>
</head>

<body>
<div>
    <h1><a href="/">Django Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

</body>
</html>