<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form method="post" action="{% url 'comment' post.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Input name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Comment</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
